    {% load static from staticfiles %}

    <html>
    <head>
<!-- All templates that extend base.html get all of this css and <html> and <head> because they extend it...thats the point.-->

    <title> 
    {% block title %} Main page title!!! {% endblock %}
    </title>
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap/custom.css' %}"
          rel="stylesheet" media="screen">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

      <div class="container"> 

        {% block content %}
        <!-- Any thing inside of block content tags in any template gets put here.-->
        {% endblock %}

      </div>

        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        </body>


</html>
