        {% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

      <div class="starter-template">
        <h1>Rango Homepage</h1>
        <p class="lead">Welcome to my Rango page!! He sure looks ready to tango!</p>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/rango_app/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    
   <h2> <a href="/rango_app/add_category/">Add a New Category</a><br /></h2>
   <h3> <a href="/rango_app/register/">Register Here</a><br /><h3>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> 
          <h4> Number of views </h4>
                {% for category in categories %}
                <li> {{ category.slug }} {{ category.views }} </li>
                {% endfor %}
            </ul>
     </div>

{% endblock %}
